<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="ion-text-center">INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="display: flex; align-items: center;justify-content: center;">
      <img alt="image" src="../assets/icon/PelotaLlamas.jpg" />
    </div>
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        SOCCER STATICTICS
      </ion-card-title>
      <ion-text color="secondary" class="ion-text-center">
        <h2>Proyecto 2</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>