<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="ion-text-center">MISION Y VISION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/icon/mision.jpg" alt="">
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        MISION
      </ion-card-title>
      <ion-text color="secondary">
        <h2>Llegar a cada uno de los hogares
          de los amantes del futbol, creando en ellos la satisfacción
          de disfrutar un partido.</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../assets/icon/vision.jpg" alt="">
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        VISION
      </ion-card-title>
      <ion-text color="secondary">
        <h2>
          Ser una comunidad grande de aficionados y amantes
          del futbol, logrando ser cada día muchos más.
        </h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>