<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="email"

        name="email"
        placeholder="Email"
        required="required"
        [(ngModel)]="usuario.email"
      />
      <input
        type="password"
        
        name="password"
        placeholder="Password"
        required="required"
        [(ngModel)]="usuario.password"
      />
      <button type="submit" (click)="Ingresar()">Log in</button>
      <br>
      <label>Aun no tienes cuenta? <a href="#">Registrarse</a></label>

    </form>
  </div>