<div class="registrar">
    <form class="custom-form" method="post">
      <h1>Crear usuario</h1>

      <input
      type="Nombre"
      
      name="nombre"
      placeholder="Nombre"
      required="required"
      [(ngModel)]="nombre"
    />
    <input
    type="Apellido"
    
    name="Apellido"
    placeholder="Apellido"
    required="required"
    [(ngModel)]="apellido"


  />

      <input
        type="email"

        name="email"
        placeholder="Email"
        required="required"
      [(ngModel)]="email"

      />

      <input
      type="password"
      
      name="password"
      placeholder="Password"
      required="required"
      [(ngModel)]="password"

    />

    <input
    type="telefono"
    
    name="telefono"
    placeholder="Telefono"
    required="required"
    [(ngModel)]="telefono"

  />

  <input
  type="genero"
  
  name="genero"
  placeholder="Genero"
  required="required"
  [(ngModel)]="genero"

/>
<input
type="fechaNac"

name="fechaNac"
placeholder="Fecha Nacimiento"
required="required"
[(ngModel)]="fechaN"

/>
<input
type="fechaReg"

name="fechReg"
placeholder="Fecha Registro"
required="required"
[(ngModel)]="fechaR"

/>

<input
type="direccion"

name="direccion"
placeholder="Direccion"
required="required"
[(ngModel)]="dir"

/>

<input
type="pais"

name="pais"
placeholder="Pais"
required="required"
[(ngModel)]="pais"

/>

<input
type="rol"

name="rol"
placeholder="Rol"
required="required"
[(ngModel)]="rol"

/>

      <button type="submit" (click)='Registrar()'>Registrar usuario</button>
    </form>
  </div>