<div class="reportes">
  
    <form class="custom-form" method="post">
      <div class="page-header">
        <h1>¡Bienvenido de nuevo!</h1>
        <br>
        <h3>Escoja una opción:</h3>
        <hr class="my-4">
      </div>
    <button type="submit" >Menu de jugadores </button>
    <br>
    <button type="submit" >Menu de directores tecnicos </button>
    <br>    
    <button type="submit" >Menu de equipos </button>
    <br>    
    <button type="submit" >Menu de estadios </button>
    <br>
    <button type="submit" >Menu de partidos </button>
    <br>    
    <button type="submit" >Menu de competencias </button>
    <br>    
    <button type="submit" >Reportes </button>
</form>
  </div>