<h1>Registrar Noticias</h1>


<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Titulo</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="titulo">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Equipo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="equipo">
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Noticia:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="detalle"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary" >Enviar</button>
  </form>