<div class="registrar">
    <form class="custom-form" method="post">
      <h1>Registrar</h1>

      <input
      type="Nombre"
      
      name="nombre"
      placeholder="Nombre"
      required="required"
      [(ngModel)]="NuevoUsuario.nombre"
    />
    <input
    type="Apellido"
    
    name="Apellido"
    placeholder="Apellido"
    required="required"
    [(ngModel)]="NuevoUsuario.apellido"


  />

      <input
        type="email"

        name="email"
        placeholder="Email"
        required="required"
      [(ngModel)]="NuevoUsuario.email"

      />

      <input
      type="password"
      
      name="password"
      placeholder="Password"
      required="required"
      [(ngModel)]="NuevoUsuario.password"

    />

      <button type="submit" (click)="Registrar()">Registrar</button>
    </form>
  </div>