<div class="reportes">
  
    <form class="custom-form" method="post">
      <div class="page-header">
        <h1>Lista de reportes</h1>
        <hr class="my-4">
      </div>
    <button type="submit" >Reporte de usuarios suscritos a X equipo </button>
    <br>
    <button type="submit" >Reporte de usuarios con o sin membresía </button>
    <br>    
    <button type="submit" >Reporte de usuarios que mas membresias han adquirido </button>
    <br>    
    <button type="submit" >Reporte de usuarios que mas dinero han gastado </button>
    <br>    
    <button type="submit" >Reporte de usuarios de X país </button>
    <br>    
    <button type="submit" >Reporte de usuarios de X genero </button>
    <br>    
    <button type="submit" >Reporte de usuarios con al menos X años de edad </button>
    <br>    
    <button type="submit" >Reporte de empleados que MAS/MENOS noticias han publicado </button>
    <br>    
    <button type="submit" >Reporte de usuarios que MAS/MENOS noticias han publicado de X equipo </button>
    <br>    
    <button type="submit" >Reporte de bitacora de los administradores </button>

</form>
  </div>