<div class="registrar">
    <form class="custom-form" method="post">
      <h1>Crear DT</h1>

      <input
      type="Nombre"
      
      name="nombre"
      placeholder="Nombre"
      required="required"
      [(ngModel)]="nombre"
    />
    <input
    type="pais"
    
    name="pais"
    placeholder="Pais"
    required="required"
    [(ngModel)]="pais"


  />

  <input
  type="estado"
  
  name="estado"
  placeholder="Estado"
  required="required"
  [(ngModel)]="estado"

/>

      <input
        type="Pais-Equipo"

        name="Pais-Equipo"
        placeholder="Pais-Equipo"
        required="required"
      [(ngModel)]="paisE"

      />


      <input
      type="Equipo"
      
      name="Equipo"
      placeholder="Equipo"
      required="required"
      [(ngModel)]="equipo"
  
    />

      <input
      type="FechaNac"
      
      name="FechaNac"
      placeholder="Fecha Nacimiento"
      required="required"
      [(ngModel)]="fechanac"

    />


  <input
  type="fechaini"
  
  name="fechaini"
  placeholder="Fecha inicio"
  required="required"
  [(ngModel)]="fechaini"

/>
<input
type="fechafin"

name="fechafin"
placeholder="Fecha fin"
required="required"
[(ngModel)]="fechafin"

/>




      <button type="submit" (click)='CrearDT()'>Registrar DT</button>
      <br>
      <button type="submit" (click)='Regresar()'>Regresar</button>
    </form>
  </div>