<div class="reportes">
  
    <form class="custom-form" method="post">
      <div class="page-header">
        <h1>Lista de cargas masivas</h1>
        <hr class="my-4">
      </div>
    <button type="submit" >Cargar jugadores </button>
    <br>
    <button type="submit" >Cargar equipos </button>
    <br>    
    <button type="submit" >Cargar directores </button>
    <br>    
    <button type="submit" >Cargar estadios </button>
    <br>    
    <button type="submit" >Cargar partidos </button>
    <br>    
    <button type="submit" >Cargar competiciones </button>
</form>
  </div>
