<div class="reportes">
  
    <form class="custom-form" method="post">
      <div class="page-header">
        <h1>Lista de cargas masivas</h1>
        <hr class="my-4">
      </div>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile02">
        <label class="custom-file-label" for="inputGroupFile02">Escoger archivo</label>
      </div>
      <div class="input-group-append">
        <span class="input-group-text" id="">Subir</span>
      </div>
    </div>
    <br>
    <button type="submit" >Cargar jugadores </button>
    <br>
    <button type="submit" >Cargar equipos </button>
    <br>    
    <button type="submit" >Cargar directores </button>
    <br>    
    <button type="submit" >Cargar estadios </button>
    <br>    
    <button type="submit" >Cargar partidos </button>
    <br>    
    <button type="submit" >Cargar competiciones </button>
    <br>
    <br>
    <button type="submit" (click)='Regresar()'>Regresar</button>
</form>
  </div>
