<div class="bienvenida">
  
    <form class="custom-form" method="post">
      <div class="page-header">
        <h1>¡Bienvenido de nuevo!</h1>
        <br>
        <h3>Escoja una opción:</h3>
        <hr class="my-4">
      </div>
      
    <button type="submit" (click)="Membresia()">Adquirir Membresia </button>
    <br> 
    <button type="submit" (click)="suscripcion()">Adquirir Suscripcion </button>
    <br> 
    <button type="submit" (click)="MenuJugadores()">Tabla de jugadores </button>
    <br>   
    <button type="submit" (click)="MenuDt()">Tabla de directores tecnicos </button>
    <br>   
    <button type="submit" (click)="MenuEquipo()">Tabla de equipos </button>
    <br>    
    <button type="submit" (click)="MenuEstadios()">Tabla de estadios </button>
    <br>
    <button type="submit" (click)="MenuPartidos()">Tabla de partidos </button>
    <br>    
    <button type="submit" (click)="MenuCompetencias()">Tabla de competencias </button>
    <br>    
    <button type="submit" (click)="MenuNoticias()">Tabla de noticias </button>
</form>
  </div>